.modify__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: -1rem;
}

.label {
  @include font(1.3rem, 600, $gray250);
  text-align: center;
  margin: 0.8rem 0rem 0.5rem 0rem;
}

.list__tag {
  // location
  width: 100%;
  max-width: 20rem;
  padding: 0.5rem 2rem;
  text-align: center;
  // color
  border: solid $primary300p 0.3rem;
  border-radius: 1rem;
  @include font(1.125rem, normal, $mainButton);
  background: $white;
}

.input__box {
  outline: none;
  @include font(1.125rem, normal, $mainButton);
  text-align: center;
}

.store__name {
  width: 100%;
  max-width: 20rem;
  height: 1.25rem;
  padding: 0rem 0.5rem;
  text-align: center;
  outline: none;
  resize: none;
  @include font(1.125rem, normal, $mainButton);
  font-family: "Pretendard Variable";
}

.text__box {
  width: 100%;
  max-width: 20rem;
  height: 3rem;
  padding: 0rem 0.5rem;
  text-align: start;
  outline: none;
  resize: none;
  @include font(1rem, 500, $mainParagraph, 1.5rem);
  font-family: "Pretendard Variable";
}

.nickname__div {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 0.4rem;
  justify-content: center;
  align-items: center;
}

.nickname__check {
  min-width: fit-content;
  width: 7.5rem;
  height: 1.875rem;
  border-radius: 0.5rem;
}

.nickname__check__false {
  margin-right: -4rem;
  width: 7.5rem;
  max-width: fit-content;
  background-color: $primary900;
  @include font(1rem, 500, $white100);
}

.nickname__check__true {
  margin-right: -4rem;
  width: 7.5rem;
  max-width: fit-content;
  background-color: $primary300p;
  @include font(1rem, 500, $white100);
}

.position__btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 5rem;
}

.submit__btn {
  min-width: fit-content;
  width: 7.5rem;
  height: 1.875rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  & + & {
    margin-left: 0.5rem;
  }
}

.edit__falsebtn {
  background-color: $primary900;
  @include font(1rem, bold, $white100);
}

.edit__truebtn {
  background-color: $primary300p;
  @include font(1rem, bold, $white100);
}

.rest__btn {
  @include font(1rem, normal, $mainButton);
  border: 0.12rem solid $mainPrimary;
  margin-left: 0.4rem;
  padding: 0.2rem;
  border-radius: 50%;
}

.is_rest__btn {
  @include font(1.125rem, normal, $white100);
  border: 1px solid $red400;
  background-color: $red400;
  margin-left: 0.4rem;
  padding: 0.2rem;
  border-radius: 50%;
}
