.label {
  @include font(1.3rem, 600, $gray250);
  text-align: center;
  margin: 0.8rem 0rem 0.5rem 0rem;
}

.list__tag {
  // location
  width: 100%;
  max-width: 20rem;
  padding: 0.5rem 2rem;
  text-align: center;
  // color
  border: solid $primary300p 0.3rem;
  border-radius: 1rem;
  @include font(1.125rem, normal, $mainButton);
  background: $white;
}

.input__box {
  border: none;
  @include font(1.125rem, normal, $mainButton);
  text-align: center;
}

.position__btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 5rem;
}

.submit__btn {
  min-width: fit-content;
  width: 7.5rem;
  height: 1.875rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  & + & {
    margin-left: 0.3rem;
  }
}

.edit__falsebtn {
  background-color: $primary900;
  @include font(1rem, bold, $white100);
}

.edit__truebtn {
  background-color: $primary300p;
  @include font(1rem, bold, $white100);
}

.same__pwd {
  @include font(0.8rem, normal, $gray150, 150%);
}
