.label {
  @include font(1.3rem, 600, $gray250);
  text-align: center;
  margin: 0.8rem 0rem 0.5rem 0rem;
}
.sub__label {
  @include font(1rem, 600, $red600p);
  text-align: center;
  margin: 0.8rem 0rem 0.5rem 0rem;
}

.list__tag {
  // location
  max-width: 20rem;
  min-width: 12rem;
  padding: 0.5rem 2rem;
  text-align: center;
  // color
  color: $mainButton;
  border: solid $primary300p 0.3rem;
  border-radius: 1rem;
  @include font(1.125rem, normal, $mainButton);
  background: $white;
}

.input__box {
  border: none;
  @include font(1.125rem, normal, $mainButton);
  text-align: center;
}

.submit__btn {
  min-width: fit-content;
  width: 7.5rem;
  height: 1.875rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  background-color: $primary900;
  @include font(1rem, bold, $white100);
}
