.custom_background {
  @include defaultLayout;
  background: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.6) 10%,
      rgba(255, 255, 255, 0.7) 25%,
      rgba(255, 255, 255, 0.8) 40%,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(255, 255, 255, 1) 75%,
      rgba(255, 255, 255, 1) 100%
    ),
    url("/custom/custom_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.button_letter_wrapper {
  @include flexDiv(column);
  padding-top: 5rem;
  gap: 1rem;
}

.button_wrapper {
  @include flexDiv(column, flex-start);
  width: 90%;
  margin-top: 1rem;
  gap: 1.2rem;
}

.custom_title {
  @include font(3rem, 700);
  width: 90%;
}

.custom_description {
  @include font(1.2rem, 400, $mainParagraph, 150%);
  width: 90%;
}
