.save_background {
  width: 100%;
  min-height: 100vh;
  padding: 8rem 0rem 0rem;

  @media screen and (min-width: 1350px) {
    padding: 8rem 0rem 0rem;
  }
  background: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.6) 10%,
      rgba(255, 255, 255, 0.7) 25%,
      rgba(255, 255, 255, 0.8) 40%,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(255, 255, 255, 1) 75%,
      rgba(255, 255, 255, 1) 100%
    ),
    url("/custom/custom_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.custom_place {
  position: relative;
  @include flexDiv;
  width: 30rem;
  height: 30rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &.bouquet {
    background-image: url("/custom/bouquet.png");
  }
  &.vase {
    background-image: url("/custom/vase.png");
  }
  &.ballon {
    background-image: url("/custom/ballon.png");
  }
}

.ribbon_cover {
  position: absolute;
  width: 100%;
  height: 100%;
  @include flexDiv;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card__wrapper {
  @include flexDiv(row, center, space-around);
  max-width: 62.5rem;
  width: 100%;
  box-shadow: $shadow600;
  margin: 1rem auto;
  padding: 2rem 2rem;
  background-color: $white;
  border-radius: 0.25rem;
  border: 1px solid $primary500;
}

.flower__img {
  @include flexDiv;
  width: 50%;
}

.flower_contents_wrapper {
  width: 50%;
  @include flexDiv(column, center, stretch);
}

.contents_subwrapper {
  @include flexDiv(column, center, center);
  width: 100%;
  margin: 1rem;
}

.card_title {
  @include font(1.5rem, 600, $primary900, 220%);
}

.sub_title {
  @include font(1rem, 500, $mainParagraph, 120%);
}

.line {
  width: 60%;
  height: 1px;
  margin: 1rem;
  opacity: 0.5;
  background-color: $primary400p;
}

.description_wrapper {
  @include flexDiv(column);
  gap: 0.5rem;
  padding-bottom: 1rem;
}

.description {
  @include font(0.95rem, 400, $mainParagraph, 1.5rem);
}

.btn__group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  .btn:nth-child(3) {
    grid-column: 1/3;
  }
}

.btn {
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 1px solid $mainPrimary;
  padding: 0.5rem 0.8rem;
  width: 100%;
  background-color: white;
  color: $mainPrimary;
  &.green {
    background-color: $mainPrimary;
    color: white;
  }
}

.tomain_btn {
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 1px solid $mainPrimary;
  padding: 0.5rem 0.8rem;
  width: 100%;
  background-color: white;
  color: $mainPrimary;
  &.green {
    background-color: $mainPrimary;
    color: white;
  }
}
