.step_background {
  width: 100%;
  min-height: 100vh;
  padding: 4rem 0rem 0rem;

  @media screen and (min-width: 1350px) {
    padding: 4rem 0rem 0rem;
  }
  background: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.6) 10%,
      rgba(255, 255, 255, 0.7) 25%,
      rgba(255, 255, 255, 0.8) 40%,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(255, 255, 255, 1) 75%,
      rgba(255, 255, 255, 1) 100%
    ),
    url("/custom/custom_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &.white100 {
    background: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.6) 10%,
      rgba(255, 255, 255, 0.7) 25%,
      rgba(255, 255, 255, 0.8) 40%,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(255, 255, 255, 1) 75%,
      rgba(255, 255, 255, 1) 100%
    );
  }
}

.step_content {
  @include flexDiv(column);
}

.card_button_wrapper {
  @include flexDiv(column);
  gap: 4rem;
}
