.step_background {
  width: 100%;
  min-height: 100vh;
  padding: 4rem 0rem 0rem;

  @media screen and (min-width: 1350px) {
    padding: 4rem 0rem 0rem;
  }
  background-color: $white100;
}

.step_content {
  @include flexDiv;
}

.card_button_wrapper {
  @include flexDiv(column);
  gap: 4rem;
}
