.custom_menu_wrapper {
  @include flexDiv(column, center, flex-start);
  width: 24rem;
  height: 32rem;
  background-color: $ivory300;
  border-radius: 0.25rem;
  box-shadow: $shadow600;
  margin-left: 2rem;
  padding: 0.8rem;
}

.line {
  width: 90%;
  border: 0.5px solid $primary300p;
}

.tabbar_wrapper {
  @include flexDiv(row, center, space-around);
  width: 100%;
}

.tabbar_button {
  height: 2.25rem;
  width: 4.5rem;
}

.tabbar_menu {
  @include font(1rem, 400, $mainParagraph);
  &:hover {
    @include font(1rem, 500, $mainPrimary);
  }
}
