.card_wrapper {
  @include flexDiv(column);
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 0.5rem;
}

.inner_wrapper {
  width: 90%;
  overflow: hidden;
  overflow-y: auto;
}

.inner_wrapper::-webkit-scrollbar {
  width: 0.5rem;
}

.inner_wrapper::-webkit-scrollbar-thumb {
  background-color: $ivory400;
  border-radius: 1rem;
  background-clip: padding-box;
  border: 2px solid transparent;
}

.inner_wrapper::-webkit-scrollbar-track {
  background-color: $ivory300p;
  border-radius: 1rem;
  box-shadow: inset 0px 0px 5px white;
}
