.main__div {
  @include flexDiv(column);
  width: 100%;
  padding-top: 1rem;
}

.not__data {
  @include flexDiv(column, center, flex-start);
  width: 100%;
  margin-top: 2rem;
  gap: 1rem;
}

.go__florist {
  @include font(1rem, bold, $mainPrimary);
}
