.label {
  @include font(1.3rem, 600, $gray250);
  text-align: center;
  margin: 0.8rem 0rem 0.5rem 0rem;
}

.list__tag {
  // location
  width: 100%;
  max-width: 20rem;
  padding: 0.5rem 2rem;
  text-align: center;
  // color
  border: solid $primary300p 0.3rem;
  border-radius: 1rem;
  @include font(1.125rem, normal, $mainButton);
  background: $white;
}

.input__box {
  border: none;
  outline: none;
  @include font(1.125rem, normal, $mainButton);
  text-align: center;
}

.err {
  @include font(0.8rem, normal, $red700, 150%);
}
