.custom_backbutton {
  @include flexDiv;
  width: 3rem;
  height: 3rem;
  border-radius: 100rem;
  background-color: $white;
  box-shadow: $shadow400;
  & > button {
    width: 100%;
    height: 100%;
    color: $primary300p;
  }
  @media screen and (max-width: 1350px) {
    margin-bottom: 3rem;
  }
}

.invisible {
  display: none;
}
