.layout {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  max-width: 75rem;
}

.profile {
  display: flex;
  flex-direction: row;
  background-color: #ffebee;
}

.flexdiv {
  display: flex;
  flex-direction: column;
}

.profile_img {
  background-image: url("/auth/happyBtte.jpeg");
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 8.5rem;
  width: 8.5rem;
}
.profile_seller {
  display: flex;
  flex-direction: column;
}
.btn_yellow {
  background-color: yellow;
  :hover {
    background-color: red;
  }
}

.btn_default {
  background-color: yellow;
  :hover {
    background-color: red;
  }
}
