.recommend_menu {
  @include flexDiv;
  width: 3rem;
  height: 3rem;
  background-color: $ivory400;
  border-radius: 100rem;
  box-shadow: $shadow600;
  padding: 0.5rem;
  transition: all 0.3s linear;
  &:hover {
    transform: scale(1.1);
  }
}
