.header_wrapper {
  @include flexDiv(row, center, space-between);
  position: fixed;
  top: 0;
  height: 4rem;
  background-color: $ivory300;
  width: 100%;
  padding: 1.5rem 2rem;
  max-width: 1680px;
  z-index: 1;
  box-shadow: $shadow500;
  &.opacity {
    opacity: 1;
  }
  &.nonopacity {
    opacity: 0;
  }
}

.menu_wrapper {
  @include flexDiv;
  gap: 3rem;
  margin: 2rem;
}

.header_title {
  @include font(1.5rem, 300, $primary900);
  &:hover {
    @include font(1.5rem, 300, $mainPrimary);
  }
}

.header_anchor {
  @include font(1rem, 500, $mainParagraph);
  // transition: all 0.2s linear;
  cursor: pointer;
  &:hover {
    @include font(1rem, 500, $gray100);
  }
}

.logout_button {
  color: #445b0f;
  font-size: 1rem;
  margin: 10px;
}
