.line_button_wrapper {
  width: 100%;
  @include flexDiv;
}

.btn__div {
  @include flexDiv;
  width: 64rem;
  margin-top: 1rem;
  padding-top: 1rem;
  gap: 1rem;
  border-top: 0.1rem solid $white300;
}
