.main__div {
  @include flexDiv;
  gap: 1rem;
  margin-top: 1rem;
}

.btn {
  @include flexDiv;
  width: 2rem;
  height: 2rem;
  border: 0.3rem solid $primary400p;
  border-radius: 50%;
  padding: 0.3rem;
  @include font(1rem, bold, $mainButton);

  &:hover {
    cursor: pointer;
    color: $primary300;
    background-color: $primary400p;
    transform: translateY(-2px);
  }

  &:active {
    background-color: $primary400p;
  }

  &:disabled {
    cursor: revert;
    transform: revert;
    color: $white;
    background-color: $primary400p;
  }
}
