.img__container {
  display: grid;
  grid-template-rows: repeat(4, 1fr); //fr 비율 1:1:1
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  padding: 2rem;
  gap: 2.5rem;
}

.img__item {
  padding: 20px;
  width: 19rem;
  height: 19rem;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: $shadow400;
  border-radius: 0.3rem;
  border-bottom: 0.1rem solid $white300;
}
