.main__div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $white100;
  box-shadow: $shadow600;
  width: 90%;
  border-radius: 1rem;
}

.header__flex {
  position: relative;
  width: 100%;
  height: 16rem;
  margin: 0 auto;
  @include respond-to("tablet-portrait-only") {
    height: 10rem;
  }
}

.yellow__circle {
  width: 100%;
  height: 70%;
  background-color: $ivory300;
  border-radius: 0rem 0rem 50% 50%;
}

.img__div {
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: space-between;
}

.settings {
  cursor: pointer;
  position: absolute;
  left: 60%;
  bottom: 0%;
}

.info__div {
  margin: 5% 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
