.package_wrapper {
  @include flexDiv(row, center, space-between);
  padding-top: 5rem;
  gap: 2rem;
  width: 58rem;
  transition: all 0.5s linear;
  @media screen and (max-width: 1350px) {
    width: 94%;
    gap: 2rem;
  }
  @media screen and (max-width: 768px) {
    @include flexDiv(column, center, space-between);
    gap: 1.5rem;
  }
}
